# idea
.idea/
*.iml

# maven
target/

# eclipse
.settings
.classpath
.project

# project own
marketing-idl/src/main/resources/sdk
log/
logger.path_IS_UNDEFINED/dubbo.log
logger.path_IS_UNDEFINED/marketing.log
logger.path_IS_UNDEFINED/nova.log
logger.path_IS_UNDEFINED/root.log
logger.path_IS_UNDEFINED/sql.log
marketing-service/hs_err_pid93739.log
